@import 'tailwindcss';
@import '@switch-to-eu/ui/styles/globals.css';

@source '../node_modules/@switch-to-eu/ui/src';
@source '../node_modules/@switch-to-eu/blocks/src';

:root {
  --background: #e5e7eb;
}

@theme inline {
  --font-heading: var(--font-bonbance);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-bonbance);
    font-weight: 800;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.font-bold {
      font-family: var(--font-bonbance) !important;
      font-weight: 800 !important;
    }
  }
}

.mdx-content h1,
.mdx-content h2,
.mdx-content h3,
.mdx-content h4 {
  font-family: var(--font-bonbance);
  font-weight: 800;
}
